{
  "openapi": "3.1.0",
  "info": {
    "version": "2024.3.1",
    "title": "Misskey API",
    "x-logo": { "url": "/static-assets/api-doc.png" }
  },
  "externalDocs": {
    "description": "Repository",
    "url": "https://github.com/misskey-dev/misskey"
  },
  "servers": [{ "url": "https://nr.akarinext.org/api" }],
  "paths": {
    "/admin/meta": {
      "post": {
        "operationId": "admin/meta",
        "summary": "admin/meta",
        "description": "No description provided.\n\n**Credential required**: *Yes* / **Permission**: *read:admin:meta*",
        "externalDocs": {
          "description": "Source code",
          "url": "https://github.com/misskey-dev/misskey/blob/develop/packages/backend/src/server/api/endpoints/admin/meta.ts"
        },
        "tags": ["meta"],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "OK (with results)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cacheRemoteFiles": { "type": "boolean" },
                    "cacheRemoteSensitiveFiles": { "type": "boolean" },
                    "emailRequiredForSignup": { "type": "boolean" },
                    "enableHcaptcha": { "type": "boolean" },
                    "hcaptchaSiteKey": { "type": ["string", "null"] },
                    "enableMcaptcha": { "type": "boolean" },
                    "mcaptchaSiteKey": { "type": ["string", "null"] },
                    "mcaptchaInstanceUrl": { "type": ["string", "null"] },
                    "enableRecaptcha": { "type": "boolean" },
                    "recaptchaSiteKey": { "type": ["string", "null"] },
                    "enableTurnstile": { "type": "boolean" },
                    "turnstileSiteKey": { "type": ["string", "null"] },
                    "swPublickey": { "type": ["string", "null"] },
                    "mascotImageUrl": {
                      "type": ["string", "null"],
                      "default": "/assets/ai.png"
                    },
                    "bannerUrl": { "type": ["string", "null"] },
                    "serverErrorImageUrl": { "type": ["string", "null"] },
                    "infoImageUrl": { "type": ["string", "null"] },
                    "notFoundImageUrl": { "type": ["string", "null"] },
                    "iconUrl": { "type": ["string", "null"] },
                    "app192IconUrl": { "type": ["string", "null"] },
                    "app512IconUrl": { "type": ["string", "null"] },
                    "enableEmail": { "type": "boolean" },
                    "enableServiceWorker": { "type": "boolean" },
                    "translatorAvailable": { "type": "boolean" },
                    "silencedHosts": {
                      "type": "array",
                      "items": { "type": "string" }
                    },
                    "pinnedUsers": {
                      "type": "array",
                      "items": { "type": "string" }
                    },
                    "hiddenTags": {
                      "type": "array",
                      "items": { "type": "string" }
                    },
                    "blockedHosts": {
                      "type": "array",
                      "items": { "type": "string" }
                    },
                    "sensitiveWords": {
                      "type": "array",
                      "items": { "type": "string" }
                    },
                    "prohibitedWords": {
                      "type": "array",
                      "items": { "type": "string" }
                    },
                    "bannedEmailDomains": {
                      "type": "array",
                      "items": { "type": "string" }
                    },
                    "preservedUsernames": {
                      "type": "array",
                      "items": { "type": "string" }
                    },
                    "hcaptchaSecretKey": { "type": ["string", "null"] },
                    "mcaptchaSecretKey": { "type": ["string", "null"] },
                    "recaptchaSecretKey": { "type": ["string", "null"] },
                    "turnstileSecretKey": { "type": ["string", "null"] },
                    "sensitiveMediaDetection": { "type": "string" },
                    "sensitiveMediaDetectionSensitivity": { "type": "string" },
                    "setSensitiveFlagAutomatically": { "type": "boolean" },
                    "enableSensitiveMediaDetectionForVideos": {
                      "type": "boolean"
                    },
                    "proxyAccountId": {
                      "type": ["string", "null"],
                      "format": "id"
                    },
                    "email": { "type": ["string", "null"] },
                    "smtpSecure": { "type": "boolean" },
                    "smtpHost": { "type": ["string", "null"] },
                    "smtpPort": { "type": ["number", "null"] },
                    "smtpUser": { "type": ["string", "null"] },
                    "smtpPass": { "type": ["string", "null"] },
                    "swPrivateKey": { "type": ["string", "null"] },
                    "useObjectStorage": { "type": "boolean" },
                    "objectStorageBaseUrl": { "type": ["string", "null"] },
                    "objectStorageBucket": { "type": ["string", "null"] },
                    "objectStoragePrefix": { "type": ["string", "null"] },
                    "objectStorageEndpoint": { "type": ["string", "null"] },
                    "objectStorageRegion": { "type": ["string", "null"] },
                    "objectStoragePort": { "type": ["number", "null"] },
                    "objectStorageAccessKey": { "type": ["string", "null"] },
                    "objectStorageSecretKey": { "type": ["string", "null"] },
                    "objectStorageUseSSL": { "type": "boolean" },
                    "objectStorageUseProxy": { "type": "boolean" },
                    "objectStorageSetPublicRead": { "type": "boolean" },
                    "enableIpLogging": { "type": "boolean" },
                    "enableActiveEmailValidation": { "type": "boolean" },
                    "enableVerifymailApi": { "type": "boolean" },
                    "verifymailAuthKey": { "type": ["string", "null"] },
                    "enableTruemailApi": { "type": "boolean" },
                    "truemailInstance": { "type": ["string", "null"] },
                    "truemailAuthKey": { "type": ["string", "null"] },
                    "enableChartsForRemoteUser": { "type": "boolean" },
                    "enableChartsForFederatedInstances": { "type": "boolean" },
                    "enableServerMachineStats": { "type": "boolean" },
                    "enableIdenticonGeneration": { "type": "boolean" },
                    "manifestJsonOverride": { "type": "string" },
                    "policies": { "type": "object" },
                    "enableFanoutTimeline": { "type": "boolean" },
                    "enableFanoutTimelineDbFallback": { "type": "boolean" },
                    "perLocalUserUserTimelineCacheMax": { "type": "number" },
                    "perRemoteUserUserTimelineCacheMax": { "type": "number" },
                    "perUserHomeTimelineCacheMax": { "type": "number" },
                    "perUserListTimelineCacheMax": { "type": "number" },
                    "notesPerOneAd": { "type": "number" },
                    "backgroundImageUrl": { "type": ["string", "null"] },
                    "deeplAuthKey": { "type": ["string", "null"] },
                    "deeplIsPro": { "type": "boolean" },
                    "defaultDarkTheme": { "type": ["string", "null"] },
                    "defaultLightTheme": { "type": ["string", "null"] },
                    "description": { "type": ["string", "null"] },
                    "disableRegistration": { "type": "boolean" },
                    "impressumUrl": { "type": ["string", "null"] },
                    "maintainerEmail": { "type": ["string", "null"] },
                    "maintainerName": { "type": ["string", "null"] },
                    "name": { "type": ["string", "null"] },
                    "shortName": { "type": ["string", "null"] },
                    "objectStorageS3ForcePathStyle": { "type": "boolean" },
                    "privacyPolicyUrl": { "type": ["string", "null"] },
                    "repositoryUrl": { "type": ["string", "null"] },
                    "summalyProxy": { "type": ["string", "null"] },
                    "themeColor": { "type": ["string", "null"] },
                    "tosUrl": { "type": ["string", "null"] },
                    "uri": { "type": "string" },
                    "version": { "type": "string" }
                  },
                  "required": [
                    "cacheRemoteFiles",
                    "cacheRemoteSensitiveFiles",
                    "emailRequiredForSignup",
                    "enableHcaptcha",
                    "hcaptchaSiteKey",
                    "enableMcaptcha",
                    "mcaptchaSiteKey",
                    "mcaptchaInstanceUrl",
                    "enableRecaptcha",
                    "recaptchaSiteKey",
                    "enableTurnstile",
                    "turnstileSiteKey",
                    "swPublickey",
                    "mascotImageUrl",
                    "bannerUrl",
                    "serverErrorImageUrl",
                    "infoImageUrl",
                    "notFoundImageUrl",
                    "iconUrl",
                    "app192IconUrl",
                    "app512IconUrl",
                    "enableEmail",
                    "enableServiceWorker",
                    "translatorAvailable",
                    "pinnedUsers",
                    "hiddenTags",
                    "blockedHosts",
                    "sensitiveWords",
                    "prohibitedWords",
                    "preservedUsernames",
                    "hcaptchaSecretKey",
                    "mcaptchaSecretKey",
                    "recaptchaSecretKey",
                    "turnstileSecretKey",
                    "sensitiveMediaDetection",
                    "sensitiveMediaDetectionSensitivity",
                    "setSensitiveFlagAutomatically",
                    "enableSensitiveMediaDetectionForVideos",
                    "proxyAccountId",
                    "email",
                    "smtpSecure",
                    "smtpHost",
                    "smtpPort",
                    "smtpUser",
                    "smtpPass",
                    "swPrivateKey",
                    "useObjectStorage",
                    "objectStorageBaseUrl",
                    "objectStorageBucket",
                    "objectStoragePrefix",
                    "objectStorageEndpoint",
                    "objectStorageRegion",
                    "objectStoragePort",
                    "objectStorageAccessKey",
                    "objectStorageSecretKey",
                    "objectStorageUseSSL",
                    "objectStorageUseProxy",
                    "objectStorageSetPublicRead",
                    "enableIpLogging",
                    "enableActiveEmailValidation",
                    "enableVerifymailApi",
                    "verifymailAuthKey",
                    "enableTruemailApi",
                    "truemailInstance",
                    "truemailAuthKey",
                    "enableChartsForRemoteUser",
                    "enableChartsForFederatedInstances",
                    "enableServerMachineStats",
                    "enableIdenticonGeneration",
                    "manifestJsonOverride",
                    "policies",
                    "enableFanoutTimeline",
                    "enableFanoutTimelineDbFallback",
                    "perLocalUserUserTimelineCacheMax",
                    "perRemoteUserUserTimelineCacheMax",
                    "perUserHomeTimelineCacheMax",
                    "perUserListTimelineCacheMax",
                    "notesPerOneAd",
                    "backgroundImageUrl",
                    "deeplAuthKey",
                    "deeplIsPro",
                    "defaultDarkTheme",
                    "defaultLightTheme",
                    "description",
                    "disableRegistration",
                    "impressumUrl",
                    "maintainerEmail",
                    "maintainerName",
                    "name",
                    "shortName",
                    "objectStorageS3ForcePathStyle",
                    "privacyPolicyUrl",
                    "repositoryUrl",
                    "summalyProxy",
                    "themeColor",
                    "tosUrl",
                    "uri",
                    "version"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Client error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "INVALID_PARAM": {
                    "value": {
                      "error": {
                        "message": "Invalid param.",
                        "code": "INVALID_PARAM",
                        "id": "3d81ceae-475f-4600-b2a8-2bc116157532"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "CREDENTIAL_REQUIRED": {
                    "value": {
                      "error": {
                        "message": "Credential required.",
                        "code": "CREDENTIAL_REQUIRED",
                        "id": "1384574d-a912-4b81-8601-c7b1c4085df1"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "AUTHENTICATION_FAILED": {
                    "value": {
                      "error": {
                        "message": "Authentication failed. Please ensure your token is correct.",
                        "code": "AUTHENTICATION_FAILED",
                        "id": "b0a7f5f8-dc2f-4171-b91f-de88ad238e14"
                      }
                    }
                  }
                }
              }
            }
          },
          "418": {
            "description": "I'm Ai",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "I_AM_AI": {
                    "value": {
                      "error": {
                        "message": "You sent a request to Ai-chan, Misskey's showgirl, instead of the server.",
                        "code": "I_AM_AI",
                        "id": "60c46cd1-f23a-46b1-bebe-5d2b73951a84"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "error": {
                        "message": "Internal error occurred. Please contact us if the error persists.",
                        "code": "INTERNAL_ERROR",
                        "id": "5d37dbcb-891e-41ca-a3d6-e690c97775ac"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admin/abuse-user-reports": {
      "post": {
        "operationId": "admin/abuse-user-reports",
        "summary": "admin/abuse-user-reports",
        "description": "No description provided.\n\n**Credential required**: *Yes* / **Permission**: *read:admin:abuse-user-reports*",
        "externalDocs": {
          "description": "Source code",
          "url": "https://github.com/misskey-dev/misskey/blob/develop/packages/backend/src/server/api/endpoints/admin/abuse-user-reports.ts"
        },
        "tags": ["admin"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100,
                    "default": 10
                  },
                  "sinceId": { "type": "string", "format": "misskey:id" },
                  "untilId": { "type": "string", "format": "misskey:id" },
                  "state": { "type": ["string", "null"], "default": null },
                  "reporterOrigin": {
                    "type": "string",
                    "enum": ["combined", "local", "remote"],
                    "default": "combined"
                  },
                  "targetUserOrigin": {
                    "type": "string",
                    "enum": ["combined", "local", "remote"],
                    "default": "combined"
                  },
                  "forwarded": { "type": "boolean", "default": false }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK (with results)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "id",
                        "example": "xxxxxxxxxx"
                      },
                      "createdAt": { "type": "string", "format": "date-time" },
                      "comment": { "type": "string" },
                      "resolved": { "type": "boolean", "example": false },
                      "reporterId": { "type": "string", "format": "id" },
                      "targetUserId": { "type": "string", "format": "id" },
                      "assigneeId": {
                        "type": ["string", "null"],
                        "format": "id"
                      },
                      "reporter": {
                        "type": "object",
                        "$ref": "#/components/schemas/UserDetailedNotMe"
                      },
                      "targetUser": {
                        "type": "object",
                        "$ref": "#/components/schemas/UserDetailedNotMe"
                      },
                      "assignee": {
                        "type": ["object", "null"],
                        "allOf": [
                          { "$ref": "#/components/schemas/UserDetailedNotMe" }
                        ]
                      }
                    },
                    "required": [
                      "id",
                      "createdAt",
                      "comment",
                      "resolved",
                      "reporterId",
                      "targetUserId",
                      "assigneeId",
                      "reporter",
                      "targetUser"
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Client error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "INVALID_PARAM": {
                    "value": {
                      "error": {
                        "message": "Invalid param.",
                        "code": "INVALID_PARAM",
                        "id": "3d81ceae-475f-4600-b2a8-2bc116157532"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "CREDENTIAL_REQUIRED": {
                    "value": {
                      "error": {
                        "message": "Credential required.",
                        "code": "CREDENTIAL_REQUIRED",
                        "id": "1384574d-a912-4b81-8601-c7b1c4085df1"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "AUTHENTICATION_FAILED": {
                    "value": {
                      "error": {
                        "message": "Authentication failed. Please ensure your token is correct.",
                        "code": "AUTHENTICATION_FAILED",
                        "id": "b0a7f5f8-dc2f-4171-b91f-de88ad238e14"
                      }
                    }
                  }
                }
              }
            }
          },
          "418": {
            "description": "I'm Ai",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "I_AM_AI": {
                    "value": {
                      "error": {
                        "message": "You sent a request to Ai-chan, Misskey's showgirl, instead of the server.",
                        "code": "I_AM_AI",
                        "id": "60c46cd1-f23a-46b1-bebe-5d2b73951a84"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "error": {
                        "message": "Internal error occurred. Please contact us if the error persists.",
                        "code": "INTERNAL_ERROR",
                        "id": "5d37dbcb-891e-41ca-a3d6-e690c97775ac"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admin/accounts/create": {
      "post": {
        "operationId": "admin/accounts/create",
        "summary": "admin/accounts/create",
        "description": "No description provided.\n\n**Credential required**: *No*",
        "externalDocs": {
          "description": "Source code",
          "url": "https://github.com/misskey-dev/misskey/blob/develop/packages/backend/src/server/api/endpoints/admin/accounts/create.ts"
        },
        "tags": ["admin"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": { "type": "string", "pattern": "^\\w{1,20}$" },
                  "password": { "type": "string", "minLength": 1 }
                },
                "required": ["username", "password"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK (with results)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "token": { "type": "string" } },
                  "required": ["token"],
                  "$ref": "#/components/schemas/MeDetailed"
                }
              }
            }
          },
          "400": {
            "description": "Client error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "INVALID_PARAM": {
                    "value": {
                      "error": {
                        "message": "Invalid param.",
                        "code": "INVALID_PARAM",
                        "id": "3d81ceae-475f-4600-b2a8-2bc116157532"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "CREDENTIAL_REQUIRED": {
                    "value": {
                      "error": {
                        "message": "Credential required.",
                        "code": "CREDENTIAL_REQUIRED",
                        "id": "1384574d-a912-4b81-8601-c7b1c4085df1"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "AUTHENTICATION_FAILED": {
                    "value": {
                      "error": {
                        "message": "Authentication failed. Please ensure your token is correct.",
                        "code": "AUTHENTICATION_FAILED",
                        "id": "b0a7f5f8-dc2f-4171-b91f-de88ad238e14"
                      }
                    }
                  }
                }
              }
            }
          },
          "418": {
            "description": "I'm Ai",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "I_AM_AI": {
                    "value": {
                      "error": {
                        "message": "You sent a request to Ai-chan, Misskey's showgirl, instead of the server.",
                        "code": "I_AM_AI",
                        "id": "60c46cd1-f23a-46b1-bebe-5d2b73951a84"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "error": {
                        "message": "Internal error occurred. Please contact us if the error persists.",
                        "code": "INTERNAL_ERROR",
                        "id": "5d37dbcb-891e-41ca-a3d6-e690c97775ac"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admin/accounts/delete": {
      "post": {
        "operationId": "admin/accounts/delete",
        "summary": "admin/accounts/delete",
        "description": "No description provided.\n\n**Credential required**: *Yes* / **Permission**: *write:admin:account*",
        "externalDocs": {
          "description": "Source code",
          "url": "https://github.com/misskey-dev/misskey/blob/develop/packages/backend/src/server/api/endpoints/admin/accounts/delete.ts"
        },
        "tags": ["admin"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userId": { "type": "string", "format": "misskey:id" }
                },
                "required": ["userId"]
              }
            }
          }
        },
        "responses": {
          "204": { "description": "OK (without any results)" },
          "400": {
            "description": "Client error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "INVALID_PARAM": {
                    "value": {
                      "error": {
                        "message": "Invalid param.",
                        "code": "INVALID_PARAM",
                        "id": "3d81ceae-475f-4600-b2a8-2bc116157532"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "CREDENTIAL_REQUIRED": {
                    "value": {
                      "error": {
                        "message": "Credential required.",
                        "code": "CREDENTIAL_REQUIRED",
                        "id": "1384574d-a912-4b81-8601-c7b1c4085df1"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "AUTHENTICATION_FAILED": {
                    "value": {
                      "error": {
                        "message": "Authentication failed. Please ensure your token is correct.",
                        "code": "AUTHENTICATION_FAILED",
                        "id": "b0a7f5f8-dc2f-4171-b91f-de88ad238e14"
                      }
                    }
                  }
                }
              }
            }
          },
          "418": {
            "description": "I'm Ai",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "I_AM_AI": {
                    "value": {
                      "error": {
                        "message": "You sent a request to Ai-chan, Misskey's showgirl, instead of the server.",
                        "code": "I_AM_AI",
                        "id": "60c46cd1-f23a-46b1-bebe-5d2b73951a84"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "error": {
                        "message": "Internal error occurred. Please contact us if the error persists.",
                        "code": "INTERNAL_ERROR",
                        "id": "5d37dbcb-891e-41ca-a3d6-e690c97775ac"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admin/accounts/find-by-email": {
      "post": {
        "operationId": "admin/accounts/find-by-email",
        "summary": "admin/accounts/find-by-email",
        "description": "No description provided.\n\n**Credential required**: *Yes* / **Permission**: *read:admin:account*",
        "externalDocs": {
          "description": "Source code",
          "url": "https://github.com/misskey-dev/misskey/blob/develop/packages/backend/src/server/api/endpoints/admin/accounts/find-by-email.ts"
        },
        "tags": ["admin"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": { "email": { "type": "string" } },
                "required": ["email"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK (with results)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/UserDetailedNotMe"
                }
              }
            }
          },
          "400": {
            "description": "Client error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "USER_NOT_FOUND": {
                    "value": {
                      "error": {
                        "message": "No such user who has the email address.",
                        "code": "USER_NOT_FOUND",
                        "id": "cb865949-8af5-4062-a88c-ef55e8786d1d"
                      }
                    }
                  },
                  "INVALID_PARAM": {
                    "value": {
                      "error": {
                        "message": "Invalid param.",
                        "code": "INVALID_PARAM",
                        "id": "3d81ceae-475f-4600-b2a8-2bc116157532"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "CREDENTIAL_REQUIRED": {
                    "value": {
                      "error": {
                        "message": "Credential required.",
                        "code": "CREDENTIAL_REQUIRED",
                        "id": "1384574d-a912-4b81-8601-c7b1c4085df1"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "AUTHENTICATION_FAILED": {
                    "value": {
                      "error": {
                        "message": "Authentication failed. Please ensure your token is correct.",
                        "code": "AUTHENTICATION_FAILED",
                        "id": "b0a7f5f8-dc2f-4171-b91f-de88ad238e14"
                      }
                    }
                  }
                }
              }
            }
          },
          "418": {
            "description": "I'm Ai",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "I_AM_AI": {
                    "value": {
                      "error": {
                        "message": "You sent a request to Ai-chan, Misskey's showgirl, instead of the server.",
                        "code": "I_AM_AI",
                        "id": "60c46cd1-f23a-46b1-bebe-5d2b73951a84"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "error": {
                        "message": "Internal error occurred. Please contact us if the error persists.",
                        "code": "INTERNAL_ERROR",
                        "id": "5d37dbcb-891e-41ca-a3d6-e690c97775ac"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admin/ad/create": {
      "post": {
        "operationId": "admin/ad/create",
        "summary": "admin/ad/create",
        "description": "No description provided.\n\n**Credential required**: *Yes* / **Permission**: *write:admin:ad*",
        "externalDocs": {
          "description": "Source code",
          "url": "https://github.com/misskey-dev/misskey/blob/develop/packages/backend/src/server/api/endpoints/admin/ad/create.ts"
        },
        "tags": ["admin"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": { "type": "string", "minLength": 1 },
                  "memo": { "type": "string" },
                  "place": { "type": "string" },
                  "priority": { "type": "string" },
                  "ratio": { "type": "integer" },
                  "expiresAt": { "type": "integer" },
                  "startsAt": { "type": "integer" },
                  "imageUrl": { "type": "string", "minLength": 1 },
                  "dayOfWeek": { "type": "integer" }
                },
                "required": [
                  "url",
                  "memo",
                  "place",
                  "priority",
                  "ratio",
                  "expiresAt",
                  "startsAt",
                  "imageUrl",
                  "dayOfWeek"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK (with results)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/Ad"
                }
              }
            }
          },
          "400": {
            "description": "Client error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "INVALID_PARAM": {
                    "value": {
                      "error": {
                        "message": "Invalid param.",
                        "code": "INVALID_PARAM",
                        "id": "3d81ceae-475f-4600-b2a8-2bc116157532"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "CREDENTIAL_REQUIRED": {
                    "value": {
                      "error": {
                        "message": "Credential required.",
                        "code": "CREDENTIAL_REQUIRED",
                        "id": "1384574d-a912-4b81-8601-c7b1c4085df1"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "AUTHENTICATION_FAILED": {
                    "value": {
                      "error": {
                        "message": "Authentication failed. Please ensure your token is correct.",
                        "code": "AUTHENTICATION_FAILED",
                        "id": "b0a7f5f8-dc2f-4171-b91f-de88ad238e14"
                      }
                    }
                  }
                }
              }
            }
          },
          "418": {
            "description": "I'm Ai",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "I_AM_AI": {
                    "value": {
                      "error": {
                        "message": "You sent a request to Ai-chan, Misskey's showgirl, instead of the server.",
                        "code": "I_AM_AI",
                        "id": "60c46cd1-f23a-46b1-bebe-5d2b73951a84"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "error": {
                        "message": "Internal error occurred. Please contact us if the error persists.",
                        "code": "INTERNAL_ERROR",
                        "id": "5d37dbcb-891e-41ca-a3d6-e690c97775ac"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admin/ad/delete": {
      "post": {
        "operationId": "admin/ad/delete",
        "summary": "admin/ad/delete",
        "description": "No description provided.\n\n**Credential required**: *Yes* / **Permission**: *write:admin:ad*",
        "externalDocs": {
          "description": "Source code",
          "url": "https://github.com/misskey-dev/misskey/blob/develop/packages/backend/src/server/api/endpoints/admin/ad/delete.ts"
        },
        "tags": ["admin"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": { "type": "string", "format": "misskey:id" }
                },
                "required": ["id"]
              }
            }
          }
        },
        "responses": {
          "204": { "description": "OK (without any results)" },
          "400": {
            "description": "Client error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "NO_SUCH_AD": {
                    "value": {
                      "error": {
                        "message": "No such ad.",
                        "code": "NO_SUCH_AD",
                        "id": "ccac9863-3a03-416e-b899-8a64041118b1"
                      }
                    }
                  },
                  "INVALID_PARAM": {
                    "value": {
                      "error": {
                        "message": "Invalid param.",
                        "code": "INVALID_PARAM",
                        "id": "3d81ceae-475f-4600-b2a8-2bc116157532"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "CREDENTIAL_REQUIRED": {
                    "value": {
                      "error": {
                        "message": "Credential required.",
                        "code": "CREDENTIAL_REQUIRED",
                        "id": "1384574d-a912-4b81-8601-c7b1c4085df1"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "AUTHENTICATION_FAILED": {
                    "value": {
                      "error": {
                        "message": "Authentication failed. Please ensure your token is correct.",
                        "code": "AUTHENTICATION_FAILED",
                        "id": "b0a7f5f8-dc2f-4171-b91f-de88ad238e14"
                      }
                    }
                  }
                }
              }
            }
          },
          "418": {
            "description": "I'm Ai",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "I_AM_AI": {
                    "value": {
                      "error": {
                        "message": "You sent a request to Ai-chan, Misskey's showgirl, instead of the server.",
                        "code": "I_AM_AI",
                        "id": "60c46cd1-f23a-46b1-bebe-5d2b73951a84"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "error": {
                        "message": "Internal error occurred. Please contact us if the error persists.",
                        "code": "INTERNAL_ERROR",
                        "id": "5d37dbcb-891e-41ca-a3d6-e690c97775ac"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admin/ad/list": {
      "post": {
        "operationId": "admin/ad/list",
        "summary": "admin/ad/list",
        "description": "No description provided.\n\n**Credential required**: *Yes* / **Permission**: *read:admin:ad*",
        "externalDocs": {
          "description": "Source code",
          "url": "https://github.com/misskey-dev/misskey/blob/develop/packages/backend/src/server/api/endpoints/admin/ad/list.ts"
        },
        "tags": ["admin"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100,
                    "default": 10
                  },
                  "sinceId": { "type": "string", "format": "misskey:id" },
                  "untilId": { "type": "string", "format": "misskey:id" },
                  "publishing": { "type": ["boolean", "null"], "default": null }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK (with results)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "$ref": "#/components/schemas/Ad"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Client error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "INVALID_PARAM": {
                    "value": {
                      "error": {
                        "message": "Invalid param.",
                        "code": "INVALID_PARAM",
                        "id": "3d81ceae-475f-4600-b2a8-2bc116157532"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "CREDENTIAL_REQUIRED": {
                    "value": {
                      "error": {
                        "message": "Credential required.",
                        "code": "CREDENTIAL_REQUIRED",
                        "id": "1384574d-a912-4b81-8601-c7b1c4085df1"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "AUTHENTICATION_FAILED": {
                    "value": {
                      "error": {
                        "message": "Authentication failed. Please ensure your token is correct.",
                        "code": "AUTHENTICATION_FAILED",
                        "id": "b0a7f5f8-dc2f-4171-b91f-de88ad238e14"
                      }
                    }
                  }
                }
              }
            }
          },
          "418": {
            "description": "I'm Ai",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "I_AM_AI": {
                    "value": {
                      "error": {
                        "message": "You sent a request to Ai-chan, Misskey's showgirl, instead of the server.",
                        "code": "I_AM_AI",
                        "id": "60c46cd1-f23a-46b1-bebe-5d2b73951a84"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "error": {
                        "message": "Internal error occurred. Please contact us if the error persists.",
                        "code": "INTERNAL_ERROR",
                        "id": "5d37dbcb-891e-41ca-a3d6-e690c97775ac"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admin/ad/update": {
      "post": {
        "operationId": "admin/ad/update",
        "summary": "admin/ad/update",
        "description": "No description provided.\n\n**Credential required**: *Yes* / **Permission**: *write:admin:ad*",
        "externalDocs": {
          "description": "Source code",
          "url": "https://github.com/misskey-dev/misskey/blob/develop/packages/backend/src/server/api/endpoints/admin/ad/update.ts"
        },
        "tags": ["admin"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": { "type": "string", "format": "misskey:id" },
                  "memo": { "type": "string" },
                  "url": { "type": "string", "minLength": 1 },
                  "imageUrl": { "type": "string", "minLength": 1 },
                  "place": { "type": "string" },
                  "priority": { "type": "string" },
                  "ratio": { "type": "integer" },
                  "expiresAt": { "type": "integer" },
                  "startsAt": { "type": "integer" },
                  "dayOfWeek": { "type": "integer" }
                },
                "required": [
                  "id",
                  "memo",
                  "url",
                  "imageUrl",
                  "place",
                  "priority",
                  "ratio",
                  "expiresAt",
                  "startsAt",
                  "dayOfWeek"
                ]
              }
            }
          }
        },
        "responses": {
          "204": { "description": "OK (without any results)" },
          "400": {
            "description": "Client error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "NO_SUCH_AD": {
                    "value": {
                      "error": {
                        "message": "No such ad.",
                        "code": "NO_SUCH_AD",
                        "id": "b7aa1727-1354-47bc-a182-3a9c3973d300"
                      }
                    }
                  },
                  "INVALID_PARAM": {
                    "value": {
                      "error": {
                        "message": "Invalid param.",
                        "code": "INVALID_PARAM",
                        "id": "3d81ceae-475f-4600-b2a8-2bc116157532"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "CREDENTIAL_REQUIRED": {
                    "value": {
                      "error": {
                        "message": "Credential required.",
                        "code": "CREDENTIAL_REQUIRED",
                        "id": "1384574d-a912-4b81-8601-c7b1c4085df1"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "AUTHENTICATION_FAILED": {
                    "value": {
                      "error": {
                        "message": "Authentication failed. Please ensure your token is correct.",
                        "code": "AUTHENTICATION_FAILED",
                        "id": "b0a7f5f8-dc2f-4171-b91f-de88ad238e14"
                      }
                    }
                  }
                }
              }
            }
          },
          "418": {
            "description": "I'm Ai",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "I_AM_AI": {
                    "value": {
                      "error": {
                        "message": "You sent a request to Ai-chan, Misskey's showgirl, instead of the server.",
                        "code": "I_AM_AI",
                        "id": "60c46cd1-f23a-46b1-bebe-5d2b73951a84"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "error": {
                        "message": "Internal error occurred. Please contact us if the error persists.",
                        "code": "INTERNAL_ERROR",
                        "id": "5d37dbcb-891e-41ca-a3d6-e690c97775ac"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admin/announcements/create": {
      "post": {
        "operationId": "admin/announcements/create",
        "summary": "admin/announcements/create",
        "description": "No description provided.\n\n**Credential required**: *Yes* / **Permission**: *write:admin:announcements*",
        "externalDocs": {
          "description": "Source code",
          "url": "https://github.com/misskey-dev/misskey/blob/develop/packages/backend/src/server/api/endpoints/admin/announcements/create.ts"
        },
        "tags": ["admin"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": { "type": "string", "minLength": 1 },
                  "text": { "type": "string", "minLength": 1 },
                  "imageUrl": { "type": ["string", "null"], "minLength": 1 },
                  "icon": {
                    "type": "string",
                    "enum": ["info", "warning", "error", "success"],
                    "default": "info"
                  },
                  "display": {
                    "type": "string",
                    "enum": ["normal", "banner", "dialog"],
                    "default": "normal"
                  },
                  "forExistingUsers": { "type": "boolean", "default": false },
                  "silence": { "type": "boolean", "default": false },
                  "needConfirmationToRead": {
                    "type": "boolean",
                    "default": false
                  },
                  "userId": {
                    "type": ["string", "null"],
                    "format": "misskey:id",
                    "default": null
                  }
                },
                "required": ["title", "text", "imageUrl"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK (with results)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "id",
                      "example": "xxxxxxxxxx"
                    },
                    "createdAt": { "type": "string", "format": "date-time" },
                    "updatedAt": {
                      "type": ["string", "null"],
                      "format": "date-time"
                    },
                    "title": { "type": "string" },
                    "text": { "type": "string" },
                    "imageUrl": { "type": ["string", "null"] }
                  },
                  "required": [
                    "id",
                    "createdAt",
                    "updatedAt",
                    "title",
                    "text",
                    "imageUrl"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Client error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "INVALID_PARAM": {
                    "value": {
                      "error": {
                        "message": "Invalid param.",
                        "code": "INVALID_PARAM",
                        "id": "3d81ceae-475f-4600-b2a8-2bc116157532"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "CREDENTIAL_REQUIRED": {
                    "value": {
                      "error": {
                        "message": "Credential required.",
                        "code": "CREDENTIAL_REQUIRED",
                        "id": "1384574d-a912-4b81-8601-c7b1c4085df1"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "AUTHENTICATION_FAILED": {
                    "value": {
                      "error": {
                        "message": "Authentication failed. Please ensure your token is correct.",
                        "code": "AUTHENTICATION_FAILED",
                        "id": "b0a7f5f8-dc2f-4171-b91f-de88ad238e14"
                      }
                    }
                  }
                }
              }
            }
          },
          "418": {
            "description": "I'm Ai",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "I_AM_AI": {
                    "value": {
                      "error": {
                        "message": "You sent a request to Ai-chan, Misskey's showgirl, instead of the server.",
                        "code": "I_AM_AI",
                        "id": "60c46cd1-f23a-46b1-bebe-5d2b73951a84"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "error": {
                        "message": "Internal error occurred. Please contact us if the error persists.",
                        "code": "INTERNAL_ERROR",
                        "id": "5d37dbcb-891e-41ca-a3d6-e690c97775ac"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admin/announcements/delete": {
      "post": {
        "operationId": "admin/announcements/delete",
        "summary": "admin/announcements/delete",
        "description": "No description provided.\n\n**Credential required**: *Yes* / **Permission**: *write:admin:announcements*",
        "externalDocs": {
          "description": "Source code",
          "url": "https://github.com/misskey-dev/misskey/blob/develop/packages/backend/src/server/api/endpoints/admin/announcements/delete.ts"
        },
        "tags": ["admin"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": { "type": "string", "format": "misskey:id" }
                },
                "required": ["id"]
              }
            }
          }
        },
        "responses": {
          "204": { "description": "OK (without any results)" },
          "400": {
            "description": "Client error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "NO_SUCH_ANNOUNCEMENT": {
                    "value": {
                      "error": {
                        "message": "No such announcement.",
                        "code": "NO_SUCH_ANNOUNCEMENT",
                        "id": "ecad8040-a276-4e85-bda9-015a708d291e"
                      }
                    }
                  },
                  "INVALID_PARAM": {
                    "value": {
                      "error": {
                        "message": "Invalid param.",
                        "code": "INVALID_PARAM",
                        "id": "3d81ceae-475f-4600-b2a8-2bc116157532"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "CREDENTIAL_REQUIRED": {
                    "value": {
                      "error": {
                        "message": "Credential required.",
                        "code": "CREDENTIAL_REQUIRED",
                        "id": "1384574d-a912-4b81-8601-c7b1c4085df1"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "AUTHENTICATION_FAILED": {
                    "value": {
                      "error": {
                        "message": "Authentication failed. Please ensure your token is correct.",
                        "code": "AUTHENTICATION_FAILED",
                        "id": "b0a7f5f8-dc2f-4171-b91f-de88ad238e14"
                      }
                    }
                  }
                }
              }
            }
          },
          "418": {
            "description": "I'm Ai",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "I_AM_AI": {
                    "value": {
                      "error": {
                        "message": "You sent a request to Ai-chan, Misskey's showgirl, instead of the server.",
                        "code": "I_AM_AI",
                        "id": "60c46cd1-f23a-46b1-bebe-5d2b73951a84"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "error": {
                        "message": "Internal error occurred. Please contact us if the error persists.",
                        "code": "INTERNAL_ERROR",
                        "id": "5d37dbcb-891e-41ca-a3d6-e690c97775ac"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admin/announcements/list": {
      "post": {
        "operationId": "admin/announcements/list",
        "summary": "admin/announcements/list",
        "description": "No description provided.\n\n**Credential required**: *Yes* / **Permission**: *read:admin:announcements*",
        "externalDocs": {
          "description": "Source code",
          "url": "https://github.com/misskey-dev/misskey/blob/develop/packages/backend/src/server/api/endpoints/admin/announcements/list.ts"
        },
        "tags": ["admin"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100,
                    "default": 10
                  },
                  "sinceId": { "type": "string", "format": "misskey:id" },
                  "untilId": { "type": "string", "format": "misskey:id" },
                  "userId": {
                    "type": ["string", "null"],
                    "format": "misskey:id"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK (with results)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "id",
                        "example": "xxxxxxxxxx"
                      },
                      "createdAt": { "type": "string", "format": "date-time" },
                      "updatedAt": {
                        "type": ["string", "null"],
                        "format": "date-time"
                      },
                      "text": { "type": "string" },
                      "title": { "type": "string" },
                      "imageUrl": { "type": ["string", "null"] },
                      "reads": { "type": "number" }
                    },
                    "required": [
                      "id",
                      "createdAt",
                      "updatedAt",
                      "text",
                      "title",
                      "imageUrl",
                      "reads"
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Client error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "INVALID_PARAM": {
                    "value": {
                      "error": {
                        "message": "Invalid param.",
                        "code": "INVALID_PARAM",
                        "id": "3d81ceae-475f-4600-b2a8-2bc116157532"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "CREDENTIAL_REQUIRED": {
                    "value": {
                      "error": {
                        "message": "Credential required.",
                        "code": "CREDENTIAL_REQUIRED",
                        "id": "1384574d-a912-4b81-8601-c7b1c4085df1"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "AUTHENTICATION_FAILED": {
                    "value": {
                      "error": {
                        "message": "Authentication failed. Please ensure your token is correct.",
                        "code": "AUTHENTICATION_FAILED",
                        "id": "b0a7f5f8-dc2f-4171-b91f-de88ad238e14"
                      }
                    }
                  }
                }
              }
            }
          },
          "418": {
            "description": "I'm Ai",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "I_AM_AI": {
                    "value": {
                      "error": {
                        "message": "You sent a request to Ai-chan, Misskey's showgirl, instead of the server.",
                        "code": "I_AM_AI",
                        "id": "60c46cd1-f23a-46b1-bebe-5d2b73951a84"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "error": {
                        "message": "Internal error occurred. Please contact us if the error persists.",
                        "code": "INTERNAL_ERROR",
                        "id": "5d37dbcb-891e-41ca-a3d6-e690c97775ac"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admin/announcements/update": {
      "post": {
        "operationId": "admin/announcements/update",
        "summary": "admin/announcements/update",
        "description": "No description provided.\n\n**Credential required**: *Yes* / **Permission**: *write:admin:announcements*",
        "externalDocs": {
          "description": "Source code",
          "url": "https://github.com/misskey-dev/misskey/blob/develop/packages/backend/src/server/api/endpoints/admin/announcements/update.ts"
        },
        "tags": ["admin"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": { "type": "string", "format": "misskey:id" },
                  "title": { "type": "string", "minLength": 1 },
                  "text": { "type": "string", "minLength": 1 },
                  "imageUrl": { "type": ["string", "null"], "minLength": 0 },
                  "icon": {
                    "type": "string",
                    "enum": ["info", "warning", "error", "success"]
                  },
                  "display": {
                    "type": "string",
                    "enum": ["normal", "banner", "dialog"]
                  },
                  "forExistingUsers": { "type": "boolean" },
                  "silence": { "type": "boolean" },
                  "needConfirmationToRead": { "type": "boolean" },
                  "isActive": { "type": "boolean" }
                },
                "required": ["id"]
              }
            }
          }
        },
        "responses": {
          "204": { "description": "OK (without any results)" },
          "400": {
            "description": "Client error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "NO_SUCH_ANNOUNCEMENT": {
                    "value": {
                      "error": {
                        "message": "No such announcement.",
                        "code": "NO_SUCH_ANNOUNCEMENT",
                        "id": "d3aae5a7-6372-4cb4-b61c-f511ffc2d7cc"
                      }
                    }
                  },
                  "INVALID_PARAM": {
                    "value": {
                      "error": {
                        "message": "Invalid param.",
                        "code": "INVALID_PARAM",
                        "id": "3d81ceae-475f-4600-b2a8-2bc116157532"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "CREDENTIAL_REQUIRED": {
                    "value": {
                      "error": {
                        "message": "Credential required.",
                        "code": "CREDENTIAL_REQUIRED",
                        "id": "1384574d-a912-4b81-8601-c7b1c4085df1"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "AUTHENTICATION_FAILED": {
                    "value": {
                      "error": {
                        "message": "Authentication failed. Please ensure your token is correct.",
                        "code": "AUTHENTICATION_FAILED",
                        "id": "b0a7f5f8-dc2f-4171-b91f-de88ad238e14"
                      }
                    }
                  }
                }
              }
            }
          },
          "418": {
            "description": "I'm Ai",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "I_AM_AI": {
                    "value": {
                      "error": {
                        "message": "You sent a request to Ai-chan, Misskey's showgirl, instead of the server.",
                        "code": "I_AM_AI",
                        "id": "60c46cd1-f23a-46b1-bebe-5d2b73951a84"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "error": {
                        "message": "Internal error occurred. Please contact us if the error persists.",
                        "code": "INTERNAL_ERROR",
                        "id": "5d37dbcb-891e-41ca-a3d6-e690c97775ac"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admin/avatar-decorations/create": {
      "post": {
        "operationId": "admin/avatar-decorations/create",
        "summary": "admin/avatar-decorations/create",
        "description": "No description provided.\n\n**Credential required**: *Yes* / **Permission**: *write:admin:avatar-decorations*",
        "externalDocs": {
          "description": "Source code",
          "url": "https://github.com/misskey-dev/misskey/blob/develop/packages/backend/src/server/api/endpoints/admin/avatar-decorations/create.ts"
        },
        "tags": ["admin"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string", "minLength": 1 },
                  "description": { "type": "string" },
                  "url": { "type": "string", "minLength": 1 },
                  "roleIdsThatCanBeUsedThisDecoration": {
                    "type": "array",
                    "items": { "type": "string" }
                  }
                },
                "required": ["name", "description", "url"]
              }
            }
          }
        },
        "responses": {
          "204": { "description": "OK (without any results)" },
          "400": {
            "description": "Client error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "INVALID_PARAM": {
                    "value": {
                      "error": {
                        "message": "Invalid param.",
                        "code": "INVALID_PARAM",
                        "id": "3d81ceae-475f-4600-b2a8-2bc116157532"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "CREDENTIAL_REQUIRED": {
                    "value": {
                      "error": {
                        "message": "Credential required.",
                        "code": "CREDENTIAL_REQUIRED",
                        "id": "1384574d-a912-4b81-8601-c7b1c4085df1"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "AUTHENTICATION_FAILED": {
                    "value": {
                      "error": {
                        "message": "Authentication failed. Please ensure your token is correct.",
                        "code": "AUTHENTICATION_FAILED",
                        "id": "b0a7f5f8-dc2f-4171-b91f-de88ad238e14"
                      }
                    }
                  }
                }
              }
            }
          },
          "418": {
            "description": "I'm Ai",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "I_AM_AI": {
                    "value": {
                      "error": {
                        "message": "You sent a request to Ai-chan, Misskey's showgirl, instead of the server.",
                        "code": "I_AM_AI",
                        "id": "60c46cd1-f23a-46b1-bebe-5d2b73951a84"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "error": {
                        "message": "Internal error occurred. Please contact us if the error persists.",
                        "code": "INTERNAL_ERROR",
                        "id": "5d37dbcb-891e-41ca-a3d6-e690c97775ac"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admin/avatar-decorations/delete": {
      "post": {
        "operationId": "admin/avatar-decorations/delete",
        "summary": "admin/avatar-decorations/delete",
        "description": "No description provided.\n\n**Credential required**: *Yes* / **Permission**: *write:admin:avatar-decorations*",
        "externalDocs": {
          "description": "Source code",
          "url": "https://github.com/misskey-dev/misskey/blob/develop/packages/backend/src/server/api/endpoints/admin/avatar-decorations/delete.ts"
        },
        "tags": ["admin"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": { "type": "string", "format": "misskey:id" }
                },
                "required": ["id"]
              }
            }
          }
        },
        "responses": {
          "204": { "description": "OK (without any results)" },
          "400": {
            "description": "Client error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "INVALID_PARAM": {
                    "value": {
                      "error": {
                        "message": "Invalid param.",
                        "code": "INVALID_PARAM",
                        "id": "3d81ceae-475f-4600-b2a8-2bc116157532"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "CREDENTIAL_REQUIRED": {
                    "value": {
                      "error": {
                        "message": "Credential required.",
                        "code": "CREDENTIAL_REQUIRED",
                        "id": "1384574d-a912-4b81-8601-c7b1c4085df1"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "AUTHENTICATION_FAILED": {
                    "value": {
                      "error": {
                        "message": "Authentication failed. Please ensure your token is correct.",
                        "code": "AUTHENTICATION_FAILED",
                        "id": "b0a7f5f8-dc2f-4171-b91f-de88ad238e14"
                      }
                    }
                  }
                }
              }
            }
          },
          "418": {
            "description": "I'm Ai",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "I_AM_AI": {
                    "value": {
                      "error": {
                        "message": "You sent a request to Ai-chan, Misskey's showgirl, instead of the server.",
                        "code": "I_AM_AI",
                        "id": "60c46cd1-f23a-46b1-bebe-5d2b73951a84"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "error": {
                        "message": "Internal error occurred. Please contact us if the error persists.",
                        "code": "INTERNAL_ERROR",
                        "id": "5d37dbcb-891e-41ca-a3d6-e690c97775ac"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admin/avatar-decorations/list": {
      "post": {
        "operationId": "admin/avatar-decorations/list",
        "summary": "admin/avatar-decorations/list",
        "description": "No description provided.\n\n**Credential required**: *Yes* / **Permission**: *read:admin:avatar-decorations*",
        "externalDocs": {
          "description": "Source code",
          "url": "https://github.com/misskey-dev/misskey/blob/develop/packages/backend/src/server/api/endpoints/admin/avatar-decorations/list.ts"
        },
        "tags": ["admin"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100,
                    "default": 10
                  },
                  "sinceId": { "type": "string", "format": "misskey:id" },
                  "untilId": { "type": "string", "format": "misskey:id" },
                  "userId": {
                    "type": ["string", "null"],
                    "format": "misskey:id"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK (with results)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "id",
                        "example": "xxxxxxxxxx"
                      },
                      "createdAt": { "type": "string", "format": "date-time" },
                      "updatedAt": {
                        "type": ["string", "null"],
                        "format": "date-time"
                      },
                      "name": { "type": "string" },
                      "description": { "type": "string" },
                      "url": { "type": "string" },
                      "roleIdsThatCanBeUsedThisDecoration": {
                        "type": "array",
                        "items": { "type": "string", "format": "id" }
                      }
                    },
                    "required": [
                      "id",
                      "createdAt",
                      "updatedAt",
                      "name",
                      "description",
                      "url",
                      "roleIdsThatCanBeUsedThisDecoration"
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Client error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "INVALID_PARAM": {
                    "value": {
                      "error": {
                        "message": "Invalid param.",
                        "code": "INVALID_PARAM",
                        "id": "3d81ceae-475f-4600-b2a8-2bc116157532"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "CREDENTIAL_REQUIRED": {
                    "value": {
                      "error": {
                        "message": "Credential required.",
                        "code": "CREDENTIAL_REQUIRED",
                        "id": "1384574d-a912-4b81-8601-c7b1c4085df1"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "AUTHENTICATION_FAILED": {
                    "value": {
                      "error": {
                        "message": "Authentication failed. Please ensure your token is correct.",
                        "code": "AUTHENTICATION_FAILED",
                        "id": "b0a7f5f8-dc2f-4171-b91f-de88ad238e14"
                      }
                    }
                  }
                }
              }
            }
          },
          "418": {
            "description": "I'm Ai",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "I_AM_AI": {
                    "value": {
                      "error": {
                        "message": "You sent a request to Ai-chan, Misskey's showgirl, instead of the server.",
                        "code": "I_AM_AI",
                        "id": "60c46cd1-f23a-46b1-bebe-5d2b73951a84"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "error": {
                        "message": "Internal error occurred. Please contact us if the error persists.",
                        "code": "INTERNAL_ERROR",
                        "id": "5d37dbcb-891e-41ca-a3d6-e690c97775ac"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admin/avatar-decorations/update": {
      "post": {
        "operationId": "admin/avatar-decorations/update",
        "summary": "admin/avatar-decorations/update",
        "description": "No description provided.\n\n**Credential required**: *Yes* / **Permission**: *write:admin:avatar-decorations*",
        "externalDocs": {
          "description": "Source code",
          "url": "https://github.com/misskey-dev/misskey/blob/develop/packages/backend/src/server/api/endpoints/admin/avatar-decorations/update.ts"
        },
        "tags": ["admin"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": { "type": "string", "format": "misskey:id" },
                  "name": { "type": "string", "minLength": 1 },
                  "description": { "type": "string" },
                  "url": { "type": "string", "minLength": 1 },
                  "roleIdsThatCanBeUsedThisDecoration": {
                    "type": "array",
                    "items": { "type": "string" }
                  }
                },
                "required": ["id"]
              }
            }
          }
        },
        "responses": {
          "204": { "description": "OK (without any results)" },
          "400": {
            "description": "Client error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "INVALID_PARAM": {
                    "value": {
                      "error": {
                        "message": "Invalid param.",
                        "code": "INVALID_PARAM",
                        "id": "3d81ceae-475f-4600-b2a8-2bc116157532"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "CREDENTIAL_REQUIRED": {
                    "value": {
                      "error": {
                        "message": "Credential required.",
                        "code": "CREDENTIAL_REQUIRED",
                        "id": "1384574d-a912-4b81-8601-c7b1c4085df1"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "AUTHENTICATION_FAILED": {
                    "value": {
                      "error": {
                        "message": "Authentication failed. Please ensure your token is correct.",
                        "code": "AUTHENTICATION_FAILED",
                        "id": "b0a7f5f8-dc2f-4171-b91f-de88ad238e14"
                      }
                    }
                  }
                }
              }
            }
          },
          "418": {
            "description": "I'm Ai",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "I_AM_AI": {
                    "value": {
                      "error": {
                        "message": "You sent a request to Ai-chan, Misskey's showgirl, instead of the server.",
                        "code": "I_AM_AI",
                        "id": "60c46cd1-f23a-46b1-bebe-5d2b73951a84"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "error": {
                        "message": "Internal error occurred. Please contact us if the error persists.",
[...]
